/* Feel free to style me! */

html{
	
}

body{
	background-color: lightgrey;
}

h1,h2,h3{
	text-align: center;
}

p{
	text-align:center;
}

ul{
	
}

li{
	
}
img{
	height : 200px;
}
